<div class="text-center px-2 text-sm text-gray-500 mb-1">
  <a href="mailto:support@usehello.ai" class="underline">support@usehello.ai</a>
</div>
<div class="text-center px-2">
  <% if local_assigns[:with_counter] %>
    <% count = CompletedSubmitter.distinct.count(:submission_id) %>
    <% if count > 1 %>
      <%= t('count_documents_signed_with_html', count:) %>
    <% else %>
      <%= t('powered_by') %>
    <% end %>
  <% else %>
    <%= t('powered_by') %>
  <% end %>
  <a href="<%= Docuseal::PRODUCT_URL %><%= local_assigns[:link_path] %>" class="underline"><%= Docuseal.product_name %></a>
</div>
